<% if (typeof building === 'undefined') { %>
  <div class="panel panel-default">
    <div class="panel-heading">
      New Building
    </div>
    <div class="panel-body">
      <form enctype="multipart/form-data" class="form" action="/admin/buildings" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" value="" class="form-control" name="name" placeholder="Name" />
        </div>
        <div class="form-group">
          <label for="name">Description</label>
          <textarea name="description" rows="3" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="name">Photo</label>
          <input type="file" value="" class="form-control" name="picture" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
<% } else { %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Edit Building
    </div>
    <div class="panel-body">
      <form enctype="multipart/form-data" class="form" action="/admin/buildings/<%= building.building_id %>/update" method="POST">
        <input type="hidden" value="<%= building.building_id %>" name="building_id"/>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" value="<%= building.name %>" class="form-control" name="name" placeholder="Name" />
        </div>
        <div class="form-group">
          <label for="name">Description</label>
          <textarea name="description" rows="3" class="form-control"><%= building.description %></textarea>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label for="name">Photo</label>
              <input type="file" value="" class="form-control" name="picture" />
            </div>
          </div>
          <div class="col-md-5">
            <% if (building.picture_url) { %>
              <span class="thumbnail">
                <img src="<%= building.picture_url %>" alt="building picture">
              </span>
            <% } else { %>
              <div class="alert alert-info">No photo uploaded</div>
            <% } %>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
<% } %>
