<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head.ejs') %>
  <body style="padding-top: 10px;">
    <div class="container-fluid">

      <%- include('../../components/admin-navigation.ejs') %>
      <div class="jumbotron">
        <h1>
          <%= building.name %>
        </h1>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%- include('../../components/admin/buildings/form.ejs', building) %>
        </div>
        <div class="col-md-6">
          <div class="panel panel-danger">
            <div class="panel-heading">
              Danger Zone!
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <p>
                  If you delete this building, this will delete all of the floors and rooms associated with it.
                </p>
              </div>
              <form action="/admin/buildings/<%= building.building_id %>/delete" method="POST">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Floors in this building
        </div>
        <div class="panel-body">
          <h3>Add new floor</h3>
          <%- include('../../components/admin/floors/form.ejs', building) %>
        </div>
        <div class="list-group">
          <% floors.forEach(function (floor) { %>
            <a class="list-group-item" href="/admin/floors/<%=floor.floor_id%>">
              <h4 class="list-group-item-heading">
                <%= floor.name %>
              </h4>
            </a>
          <% }) %>
        </div>
      </div>
    </div>

    <%- include('../../layout/body-end.ejs') %>
  </body>
</html>
