<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head.ejs') %>
  <body style="padding-top: 10px;">
    <div class="container-fluid">

      <%- include('../../components/admin-navigation.ejs') %>
      <div class="jumbotron">
        <h1>
          <%= floor.name %>
          <small><%= building.name %></small>
        </h1>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%- include('../../components/admin/floors/form.ejs', floor)%>
        </div>

        <div class="col-md-6">
          <div class="panel panel-danger">
            <div class="panel-heading">
              Danger Zone!
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <p>
                  If you delete this floor, this will delete all of the rooms associated with it.
                </p>
              </div>
              <form action="/admin/floors/<%= floor.floor_id %>/delete" method="POST">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Rooms in this building
        </div>
        <div class="panel-body">
          <h3>Add new room</h3>
          <%- include('../../components/admin/rooms/form.ejs', floor) %>
        </div>
        <div class="list-group">
          <% rooms.forEach(function (room) { %>
            <a class="list-group-item" href="/admin/rooms/<%=room.room_id%>">
              <h4 class="list-group-item-heading">
                <%= room.name %>
              </h4>
            </a>
          <% }) %>
        </div>
      </div>

    </div>
    <%- include('../../layout/body-end.ejs') %>
  </body>
</html>
