<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head.ejs') %>
  <body style="padding-top: 10px;">
    <div class="container-fluid">

      <%- include('../../components/admin-navigation.ejs') %>
      <div class="row">
        <div class="col-sm-10">
          <div class="jumbotron">
            <h1>
              <%= room.name %>
              <small><%= floor.name %> floor of <%= building.name %></small>
            </h1>
          </div>
        </div>

        <div class="col-sm-2">
          <img src="/admin/rooms/<%= room.room_id %>/qr-code" alt="qr-code" class="img-responsive img-rounded">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%- include('../../components/admin/rooms/form.ejs', room)%>
        </div>

        <div class="col-md-6">
          <div class="panel panel-danger">
            <div class="panel-heading">
              Danger Zone!
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <p>
                  If you delete this room, a cat will be bitten by dog.
                </p>
              </div>
              <form action="/admin/floors/<%= floor.floor_id %>/delete" method="POST">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
    <%- include('../../layout/body-end.ejs') %>
  </body>
</html>
