<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
  <body style="padding-top: 60px;">
    <div class="container-fluid">
      <%- include('../components/navigation.ejs') %>

      <div class="box box-sm">
        <h1>Directions</h1>
        <p>
          From <strong><%= start.name + ' in ' + start.building_name %></strong> <br/>
          To <strong><%= end.name + ' in ' + end.building_name %></strong>
        </p>
      </div>

      <div>
        <% steps.forEach( function (step, index) { %>
          <div class="box text-big">
            <%= (index + 1) + ' ' + step.text %>
          </div>
        <% }) %>
      </div>

    </div>
    <%- include('../layout/body-end.ejs') %>
  </body>
</html>
