<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
  <body style="padding-top: 60px;">
  <%- include('../components/navigation.ejs') %>
	<div class="container-fluid">
    <div class="box box-sm">
      <h1 class="text-center">GCU Tour Guide</h1>
    </div>

    <div class="row">

      <div class="col-md-7">
        <div class="box box-sm">
          <h2>Featured Buildings</h2>
          <div class="row">
            <% featuredBuildings.forEach(function (building) { %>
              <div class="col-xs-6 col-md-3">
                <a href="/building/<%= building.building_id %>" class="thumbnail">
                  <img src="<%= building.picture_url %>" alt="...">
                  <div class="caption text-center">
                    <%= building.name %>
                  </div>
                </a>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="box box-sm">
          <h2>Featured Places</h2>
          <section>
            <div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
             <ol class="carousel-indicators">
                <% featuredRooms.forEach(function (room, index) { %>
                <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : ''%>" ></li>
                <% }) %>
              </ol>
              <div class="carousel-inner">
                <% featuredRooms.forEach(function (room, index) { %>
                  <div class="item <%= index === 0 ? 'active' : ''%>">
                    <img src="<%= room.picture_url %>" alt="Photo of <%= room.name%>" />
                    <div class="carousel-caption">
                      <h3><%= room.name %></h3>
                      <a href="/room/<%= room.room_id%>">More info</a>
                    </div>
                  </div>
                <% }) %>
              </div>
              <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </section>
        </div>
      </div>

    </div>
	</div>

	<div class="box">
    <div class="container">
      <h2>
        <strong>Events</strong>
      </h2>
      <div class="row">
        <% featuredEvents.forEach(function (event) {%>
          <div class="col-md-4">
            <h3>
              <a href="/event/<%= event.event_id %>">
                <%= event.name %>
              </a>
            </h3>
            <p><%= event.description %></p>
            <div class="row">
              <div class="col-xs-6">
                <time><%= new Date(event.datetime).toLocaleTimeString() %></time>
              </div>
              <div class="col-xs-6">
                <%= event.room_name %>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
	</div>
</div>

	<div class="container-fluid">
		<div class="box">
      <h2>
        <strong>GCU Contact Information</strong>
      </h2>
      <div class="row">
        <div class="col-md-8">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2238.7989943508574!2d-4.252992784393185!3d55.86615378058381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4888441f6d37e73b%3A0xe44f66a88fe29ff5!2sGlasgow+Caledonian+University!5e0!3m2!1sen!2suk!4v1490676983856" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="col-md-4">
					<p>
						<strong>Address:</strong>
						<br>Glasgow Caledonian University
						<br>Cowcaddens Road
						<br>Glasgow
						<br>G4 0BA
						<br>Scotland, UK
					</p>
					<p>
						<strong>Telephone Number</strong>
						<br>T: +44 (0)141 331 3000
						<br>F: +44 (0)141 331 3005
					</p>
        </div>
			</div>
		</div>
	</div>

  <%- include('../layout/body-end.ejs') %>
  </body>
</html>
