<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
  <body style="padding-top: 10px;">
    <div class="container-fluid">
      <%- include('../components/navigation.ejs') %>

      <div class="panel panel-primary">
        <div class="panel-heading">Search a place</div>
        <div class="panel-body">
          <form class="form" action="/search-place" method="GET">
            <div class="form-group">
              <input type="text" value="<%= searchText %>" class="form-control" name="text" placeholder="Search a place" />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
        <% if (typeof rooms !== 'undefined') { %>
          <div class="list-group">
            <% rooms.forEach(function (room) { %>
              <div class="list-group-item">
                <h4 class="list-group-item-heading"><%= room.name %></h4>
                <p class="list-group-item-text">
                  Dolor dignissimos corporis eos ex libero sint illo quod tempora consequuntur animi perspiciatis neque quibusdam quos voluptatibus laborum quae cum quis. Nostrum eveniet quas illo distinctio corrupti doloribus molestiae explicabo.
                </p>
              </div>
            <% }) %>
          </div>
        <% } %>
      </div>

    </div>
  <%- include('../layout/body-end.ejs') %>
  </body>
</html>
